bench_date: {{import.simStat.startDate}}

import_duration: {{import.simStat.duration}}
import_avg: {{import.simStat.average}}
import_rps: {{import.simStat.throughput}}
import_date: {{import.simStat.startDate}}
import_count: {{import.simStat.count}}
import_percentError: {{import.simStat.percentError}}
import_error: {{import.simStat.errorCount}}
{{#import.requests}}
import_{{requestId}}_name: "{{request}}"
import_{{requestId}}_avg: {{average}}
{{/import.requests}}

create_avg: {{create.simStat.average}}
create_rps: {{create.simStat.throughput}}
create_std: {{create.simStat.stddev}}
create_min: {{create.simStat.min}}
create_p50: {{create.simStat.p50}}
create_p95: {{create.simStat.p95}}
create_max: {{create.simStat.max}}
create_user: {{create.simStat.maxUsers}}
create_date: {{create.simStat.startDate}}
create_duration: {{create.simStat.duration}}
create_count: {{create.simStat.count}}
create_percentError: {{create.simStat.percentError}}
create_error: {{create.simStat.errorCount}}
{{#create.requests}}
create_{{requestId}}_name: "{{request}}"
create_{{requestId}}_avg: {{average}}
create_{{requestId}}_std: {{stddev}}
create_{{requestId}}_min: {{min}}
create_{{requestId}}_p50: {{p50}}
create_{{requestId}}_p95: {{p95}}
create_{{requestId}}_max: {{max}}
create_{{requestId}}_rps: {{throughput}}
{{/create.requests}}

createasync_avg: {{createasync.simStat.average}}
createasync_duration: {{createasync.simStat.duration}}
createasync_count: {{createasync.simStat.count}}
createasync_percentError: {{createasync.simStat.percentError}}
createasync_error: {{createasync.simStat.errorCount}}

nav_avg: {{nav.simStat.average}}
nav_rps: {{nav.simStat.throughput}}
nav_std: {{nav.simStat.stddev}}
nav_min: {{nav.simStat.min}}
nav_p50: {{nav.simStat.p50}}
nav_p95: {{nav.simStat.p95}}
nav_max: {{nav.simStat.max}}
nav_user: {{nav.simStat.maxUsers}}
nav_date: {{nav.simStat.startDate}}
nav_duration: {{nav.simStat.duration}}
nav_count: {{nav.simStat.count}}
nav_percentError: {{nav.simStat.percentError}}
nav_error: {{nav.simStat.errorCount}}
{{#nav.requests}}
nav_{{requestId}}_name: "{{request}}"
nav_{{requestId}}_avg: {{average}}
nav_{{requestId}}_std: {{stddev}}
nav_{{requestId}}_min: {{min}}
nav_{{requestId}}_p50: {{p50}}
nav_{{requestId}}_p95: {{p95}}
nav_{{requestId}}_max: {{max}}
nav_{{requestId}}_rps: {{throughput}}
{{/nav.requests}}

navjsf_avg: {{navjsf.simStat.average}}
navjsf_rps: {{navjsf.simStat.throughput}}
navjsf_std: {{navjsf.simStat.stddev}}
navjsf_min: {{navjsf.simStat.min}}
navjsf_p50: {{navjsf.simStat.p50}}
navjsf_p95: {{navjsf.simStat.p95}}
navjsf_max: {{navjsf.simStat.max}}
navjsf_user: {{navjsf.simStat.maxUsers}}
navjsf_date: {{navjsf.simStat.startDate}}
navjsf_duration: {{navjsf.simStat.duration}}
navjsf_count: {{navjsf.simStat.count}}
navjsf_percentError: {{navjsf.simStat.percentError}}
navjsf_error: {{navjsf.simStat.errorCount}}
{{#navjsf.requests}}
navjsf_{{requestId}}_name: "{{request}}"
navjsf_{{requestId}}_avg: {{average}}
navjsf_{{requestId}}_std: {{stddev}}
navjsf_{{requestId}}_min: {{min}}
navjsf_{{requestId}}_p50: {{p50}}
navjsf_{{requestId}}_p95: {{p95}}
navjsf_{{requestId}}_max: {{max}}
navjsf_{{requestId}}_rps: {{throughput}}
{{/navjsf.requests}}

search_avg: {{search.simStat.average}}
search_rps: {{search.simStat.throughput}}
search_std: {{search.simStat.stddev}}
search_min: {{search.simStat.min}}
search_p50: {{search.simStat.p50}}
search_p95: {{search.simStat.p95}}
search_max: {{search.simStat.max}}
search_user: {{search.simStat.maxUsers}}
search_date: {{search.simStat.startDate}}
search_duration: {{search.simStat.duration}}
search_count: {{search.simStat.count}}
search_percentError: {{search.simStat.percentError}}
search_error: {{search.simStat.errorCount}}
{{#search.requests}}
search_{{requestId}}_name: "{{request}}"
search_{{requestId}}_avg: {{average}}
search_{{requestId}}_std: {{stddev}}
search_{{requestId}}_min: {{min}}
search_{{requestId}}_p50: {{p50}}
search_{{requestId}}_p95: {{p95}}
search_{{requestId}}_max: {{max}}
search_{{requestId}}_rps: {{throughput}}
{{/search.requests}}


bench_avg: {{bench.simStat.average}}
bench_rps: {{bench.simStat.throughput}}
bench_std: {{bench.simStat.stddev}}
bench_min: {{bench.simStat.min}}
bench_p50: {{bench.simStat.p50}}
bench_p95: {{bench.simStat.p95}}
bench_max: {{bench.simStat.max}}
bench_user: {{bench.simStat.maxUsers}}
bench_date: {{bench.simStat.startDate}}
bench_duration: {{bench.simStat.duration}}
bench_count: {{bench.simStat.count}}
bench_percentError: {{bench.simStat.percentError}}
bench_error: {{bench.simStat.errorCount}}
{{#bench.requests}}
bench_{{requestId}}_name: "{{request}}"
bench_{{requestId}}_avg: {{average}}
bench_{{requestId}}_std: {{stddev}}
bench_{{requestId}}_min: {{min}}
bench_{{requestId}}_p50: {{p50}}
bench_{{requestId}}_p95: {{p95}}
bench_{{requestId}}_max: {{max}}
bench_{{requestId}}_rps: {{throughput}}
{{/bench.requests}}

update_avg: {{update.simStat.average}}
update_rps: {{update.simStat.throughput}}
update_std: {{update.simStat.stddev}}
update_min: {{update.simStat.min}}
update_p50: {{update.simStat.p50}}
update_p95: {{update.simStat.p95}}
update_max: {{update.simStat.max}}
update_user: {{update.simStat.maxUsers}}
update_date: {{update.simStat.startDate}}
update_duration: {{update.simStat.duration}}
update_count: {{update.simStat.count}}
update_percentError: {{update.simStat.percentError}}
update_error: {{update.simStat.errorCount}}
{{#update.requests}}
update_{{requestId}}_name: "{{request}}"
update_{{requestId}}_avg: {{average}}
update_{{requestId}}_std: {{stddev}}
update_{{requestId}}_min: {{min}}
update_{{requestId}}_p50: {{p50}}
update_{{requestId}}_p95: {{p95}}
update_{{requestId}}_max: {{max}}
update_{{requestId}}_rps: {{throughput}}
{{/update.requests}}

updateasync_avg: {{updateasync.simStat.average}}
updateasync_duration: {{updateasync.simStat.duration}}
updateasync_count: {{updateasync.simStat.count}}
updateasync_percentError: {{updateasync.simStat.percentError}}
updateasync_error: {{updateasync.simStat.errorCount}}

crud_avg: {{crud.simStat.average}}
crud_rps: {{crud.simStat.throughput}}
crud_std: {{crud.simStat.stddev}}
crud_min: {{crud.simStat.min}}
crud_p50: {{crud.simStat.p50}}
crud_p95: {{crud.simStat.p95}}
crud_max: {{crud.simStat.max}}
crud_user: {{crud.simStat.maxUsers}}
crud_date: {{crud.simStat.startDate}}
crud_duration: {{crud.simStat.duration}}
crud_count: {{crud.simStat.count}}
crud_percentError: {{crud.simStat.percentError}}
crud_error: {{crud.simStat.errorCount}}
{{#crud.requests}}
crud_{{requestId}}_name: "{{request}}"
crud_{{requestId}}_avg: {{average}}
crud_{{requestId}}_std: {{stddev}}
crud_{{requestId}}_min: {{min}}
crud_{{requestId}}_p50: {{p50}}
crud_{{requestId}}_p95: {{p95}}
crud_{{requestId}}_max: {{max}}
crud_{{requestId}}_rps: {{throughput}}
{{/crud.requests}}

crudasync_avg: {{crudasync.simStat.average}}
crudasync_duration: {{crudasync.simStat.duration}}
crudasync_count: {{crudasync.simStat.count}}
crudasync_percentError: {{crudasync.simStat.percentError}}
crudasync_error: {{crudasync.simStat.errorCount}}

reindex_avg: {{reindex.simStat.average}}
reindex_rps: {{reindex.simStat.throughput}}
reindex_user: {{reindex.simStat.maxUsers}}
reindex_date: {{reindex.simStat.startDate}}
reindex_duration: {{reindex.simStat.duration}}
reindex_count: {{reindex.simStat.count}}
reindex_percentError: {{reindex.simStat.percentError}}
reindex_error: {{reindex.simStat.errorCount}}
{{#reindex.requests}}
reindex_{{requestId}}_name: "{{request}}"
reindex_{{requestId}}_avg: {{average}}
reindex_{{requestId}}_std: {{stddev}}
reindex_{{requestId}}_rps: {{throughput}}
{{/reindex.requests}}
