import_avg: {{import.simStat.average}}
import_rps: {{import.simStat.throughput}}
{{#import.requests}}
import_{{requestId}}_name:"{{request}}"
import_{{requestId}}_avg:{{average}}
import_{{requestId}}_std:{{stddev}}
import_{{requestId}}_rps:{{throughput}}
{{/import.requests}}

create_avg: {{create.simStat.average}}
create_rps: {{create.simStat.throughput}}
{{#create.requests}}
create_{{requestId}}_name:"{{request}}"
create_{{requestId}}_avg:{{average}}
create_{{requestId}}_std:{{stddev}}
create_{{requestId}}_min:{{min}}
create_{{requestId}}_p50:{{p50}}
create_{{requestId}}_p95:{{p95}}
create_{{requestId}}_max:{{max}}
create_{{requestId}}_rps:{{throughput}}
{{/create.requests}}

nav_avg: {{nav.simStat.average}}
nav_rps: {{nav.simStat.throughput}}
{{#nav.requests}}
nav_{{requestId}}_name:"{{request}}"
nav_{{requestId}}_avg:{{average}}
nav_{{requestId}}_std:{{stddev}}
nav_{{requestId}}_rps:{{throughput}}
{{/nav.requests}}

navjsf_avg: {{navjsf.simStat.average}}
navjsf_rps: {{navjsf.simStat.throughput}}
{{#navjsf.requests}}
navjsf_{{requestId}}_name:"{{request}}"
navjsf_{{requestId}}_avg:{{average}}
navjsf_{{requestId}}_std:{{stddev}}
navjsf_{{requestId}}_rps:{{throughput}}
{{/navjsf.requests}}

bench_avg: {{bench.simStat.average}}
bench_rps: {{bench.simStat.throughput}}
{{#bench.requests}}
bench_{{requestId}}_name:"{{request}}"
bench_{{requestId}}_avg:{{average}}
bench_{{requestId}}_std:{{stddev}}
bench_{{requestId}}_rps:{{throughput}}
{{/bench.requests}}

update_avg: {{update.simStat.average}}
update_rps: {{update.simStat.throughput}}
{{#update.requests}}
update_{{requestId}}_name:"{{request}}"
update_{{requestId}}_avg:{{average}}
update_{{requestId}}_std:{{stddev}}
update_{{requestId}}_rps:{{throughput}}
{{/update.requests}}

reindex_avg: {{reindex.simStat.average}}
reindex_rps: {{reindex.simStat.throughput}}
{{#reindex.requests}}
reindex_{{requestId}}_name:"{{request}}"
reindex_{{requestId}}_avg:{{average}}
reindex_{{requestId}}_std:{{stddev}}
reindex_{{requestId}}_rps:{{throughput}}
{{/reindex.requests}}
