cluster.name: {{es_cluster}}
path.data: /opt/es/data
path.logs: /opt/es/log

network.host: _ec2:privateIp_
discovery.zen.hosts_provider: ec2
discovery.ec2.groups: {{security_group}}
cloud.node.auto_attributes: true

http.cors.enabled: true
http.cors.allow-origin: "*"

thread_pool.write.queue_size: 500
monitor.jvm.gc.overhead.warn: 50

