input {
    file {
        path => "/opt/es/elasticsearch/log/{{es_cluster}}.log"
        start_position => "beginning"
        type => "elasticsearch"
        codec => multiline {
            pattern => "^\["
            negate => true
            what => "previous"
        }
    }
}

output {
    redis {
        host => "{{mgmt_hosts[0]}}"
        data_type => "list"
        key => "logstash"
    }
}

